<!DOCTYPE html>
<html lang="en">
    <head>
        <title>聊天室</title>
        <meta charset="UTF-8">

    </head>

    <body>
        <h3>聊天室～！</h3>
        <div id="content">
            {% for item in data %}
                <p>{{item.username}}: {{item.msg}} - {{item.time}}</p>
            {% endfor %}
        </div>
        {% if not session.get('username') %}
        <form id="login" action="/" method="post">
            <input type="text" id="username" name="username">
            <button type="submit" id="login-button">登录</button>
        </form>
        {% else %}
        <form id="send" action="/" method="post">
            <input type="text" id="msg" name="msg">
            <button type="submit" id="send-button">发送</button>
            <a href="/logout"><button type="button" id="logout-button">登出</button></a>

        </form>

        {% endif %}



    </body>
</html>